<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EPPZ_iOS_Photos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FADB40051C77DCCD0093D852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFCF62C1C73E48A00912759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFCF63F1C73EC0D00912759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFCF64C1C73EC3700912759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
